@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* Global Service Section Styling */
.Doctors{
  position: relative !important;
    z-index: 4 !important;
}
.Doctors .servicesTitle {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #00a8e8;
    line-height: 1;
    
}

.Doctors .servicesTitle2 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: #002060;
    line-height: 2;
}
.Doctors .doctor{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important; 
    margin-bottom: 30px;
    border-radius: 10px;
}
.Doctors .doctorImg{
    height: 350px;
    object-fit: cover;
}
.doctor .drName{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: #002060;
    line-height: 2;
}
.doctor .drSpecialicity{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #00a8e8;
    line-height: 2;
}

/* Customize slider arrows */
.slick-prev, .slick-next {
    z-index: 1;
  }
  
  .slick-prev:before, .slick-next:before {
    content: "";
  }
  
  /* Customize dots */
  .slick-dots {
    bottom: -40px;
    justify-content: center !important;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .slick-dots li button:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    display: block;
    margin: auto;
  }
  
  .slick-dots li.slick-active button:before {
    background: #ffffff;
  }
  
  .slick-dots li button div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #002060;
    border-radius: 50%;

  }
/* Style the next and prev arrow icons */
.slick-prev:before, .slick-next:before {
    content: ""; /* Remove the default arrow content */
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #ffd700; /* Optional hover effect can stay for icons */
}
.doctor .plusIcon{
  background-color: #ffffff;
  color: #00a8e8;
  padding: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: smaller !important;
  margin-top: -10vh;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}


@media (max-width: 576px) {
  .Doctors .doctorImg{
  height: 300px;
  object-fit: cover !important;
}

}